- if (post.image)
    .post-image
      img(src=post.image)
- else if(post.header)
    .post-header
      != post.header
- else if(post.video)
    .post-video
      != post.video
section.post
  div
    h4.title
      a(href=post.url)
        = post.title
    span.date #{moment(post.date).format("MMM D")}

    div(class="hashtags")
      each tag in post.tags
       a(href=tagUrl(tag), class="hashtag") #{tag}

    div.content
      != post.preview
